/tess-train/data/train
/tess-train/output
/recognition_test/Parser/obj/Debug
/recognition_test/Parser/obj/Release
/recognition_test/.vs
/recognition_test/recognition_test/obj/Debug
/recognition_test/recognition_test/obj/Release
/recognition_test/Parser/bin/Debug
/recognition_test/Parser/bin/Release
/recognition_test/recognition_test/bin/Debug
/recognition_test/recognition_test/bin/Release
